.pai {
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}
section {
    border-radius: 10px;
    background: #a89393;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
}
.item {
    width: 100%;
    max-width: 170px;
    display: flex;
    gap: 20px;
}
.utensilios {
    display: flex;
    flex-direction: column;
    gap: 7px;
}
.filho {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.utensilios span {
    font-size: 25px;
    text-align: center;
}
span {
    font-size: 20px;
    text-align: left;
}
.utensilios input {
    height: 20px;
    font-size: 18px;
    width: 215px;
    font-style: italic;
}
input[type="checkbox"] {
    transform: scale(1.5); /* aumenta 50% */
}
.item input:checked + span {
    text-decoration: line-through;
    color: red;
}
button {
    padding: 10px;
    width: 100px;
    font-size: 15px;
}